{namespace e2=JWeiland\Events2\ViewHelpers}

<f:switch expression="{day.event.eventType}">
	<f:case value="duration">
		<f:render section="date" arguments="{day: day.event.eventBegin}" />
		- <f:render section="date" arguments="{day: day.event.eventEnd}" />
	</f:case>
	<f:case value="recurring">
		<f:if condition="{settings.mergeRecurringEvents} && {day.event.recurringEnd}">
			<f:then>
				<f:render section="date" arguments="{day: day.event.eventBegin}" />
				- <f:render section="date" arguments="{day: day.event.recurringEnd}" />
			</f:then>
			<f:else>
				<f:render section="date" arguments="{day: day.day}" />
			</f:else>
		</f:if>
	</f:case>
	<f:defaultCase>
		<f:render section="date" arguments="{day: day.day}" />
	</f:defaultCase>
</f:switch>

<f:if condition="{settings.mergeEventsAtSameDay} && {e2:getMergedEventTimes(date: day.day, event: day.event)->f:count()} > 1">
	<f:then>
		|&nbsp;<f:link.action
			action="show"
			controller="Day"
			pageUid="{settings.pidOfDetailPage}"
			arguments="{timestamp: '{day.dayTime->f:format.date(format: \'U\')}', event: day.event}"
			title="{f:translate(key: 'singleView')}: {day.event.title}"
		>{f:translate(key: 'showDetailview')}</f:link.action>
	</f:then>
	<f:else>
		<f:comment>If sortDayTime is higher than current day 00:00:00 we can be sure that a time record was created</f:comment>
		<f:if condition="{day.sortDayTime} > {day.day}">
			|&nbsp;<f:translate key="tx_events2_domain_model_time.time_begin" />: {f:format.date(date: day.sortDayTime, format: 'H:i')}
		</f:if>
	</f:else>
</f:if>

<f:section name="date">
	{day->f:format.date(format: '%a %d. %b %Y')}
</f:section>
