{namespace e2=JWeiland\Events2\ViewHelpers}

<div class="eventProperties extcss">
	<h1>{event.title}</h1>
	<div class="grid_12 clearer clearfix">
		<div class="grid_8 floatleft">
			<div class="gridright">
				<f:if condition="{0: settings.display}=={0: 'displayEvent'}">
					<f:then></f:then>
					<f:else>
						<f:if condition="{event.images -> f:count}">
							<f:render partial="Event/Images" arguments="{event: event}"/>
						</f:if>
					</f:else>
				</f:if>
				<f:if condition="{event.videoLink}">
					<div class="marginbottom2">
						<f:link.action action="show" controller="Video" arguments="{event: event}">
							<f:if condition="{event.videoLink.title}">
								<f:then>
									<span>{event.videoLink.title}</span>
								</f:then>
								<f:else>
									<span>Video</span>
								</f:else>
							</f:if>
							<span aria-hidden='true' class='icon-arrowright'></span>
						</f:link.action>
					</div>
				</f:if>
				<p class="margintop"><strong><f:render partial="Event/Teaser" arguments="{event: event}"/>
				</strong></p>
				<f:format.html>{event.detailInformations}</f:format.html>

				<f:if condition="{event.theaterDetails}">
					<div class="margintop rulerbefore">
						<f:format.html>{event.theaterDetails}</f:format.html>
					</div>
				</f:if>
				<f:if condition="{event.downloadLinks}">
					<dl class="rulerbefore extdl">
						<f:for each="{event.downloadLinks}" as="link">
							<dd><span aria-hidden="true" class="icon-download"></span>
								<e2:link.typolink parameter="{link.link}" title="{link.title}">{link.title}</e2:link.typolink>
							</dd>
						</f:for>
					</dl>
				</f:if>
			</div>
		</div>

		<aside class="grid_4 floatleft">
			<div class="gridleft clearfix rulerbefore4">
				<div class="shorten shortdiv rulerafter">
					<e2:widget.showEventDates event="{event}" />
					<f:if condition="{event.days -> f:count()} > 1">
						<p class="readmore">
							<span class="more">... alle Termine</span><span aria-hidden='true' class='icon-arrowright'></span>
						</p>
					</f:if>
				</div>

				<dl class="extdl marginbottom2">
					<dt>
						<f:translate key="tx_events2_domain_model_event.location"/>
					</dt>
					<dd class="grid_8 floatleft noborder">
						<f:link.action action="show" controller="Location" pageUid="{settings.pidOfLocationPage}" arguments="{location: event.location}" title="{event.location.location}">
							{event.location.location}
						</f:link.action>
					</dd>
					<f:if condition="{event.location.street}">
						<dd class="grid_8 floatleft noborder">
							<f:alias map="{address: '{event.location.street} {event.location.houseNumber} {event.location.zip} {event.location.city}'}">
								<f:link.external target="_blank" uri="https://www.google.de/maps/dir//{address->f:format.urlencode()}">Routenplaner<br /><span class="small">(Google Maps)</span></f:link.external>
							</f:alias>
						</dd>
					</f:if>
					<dd class="grid_4 floatleft noborder">
						<figure>
							<f:link.action action="show" controller="Location" pageUid="{settings.pidOfLocationPage}" arguments="{location: event.location}" title="{f:translate(key: 'altTextMapImg')}">
								<f:image class="floatright" src="{f:uri.resource(path: 'Icons/thumbmaps.png')}" alt="{f:translate(key: 'altTextMapImg')}"/>
							</f:link.action>
						</figure>
					</dd>

					<dt>
						<f:translate key="tx_events2_domain_model_event.organizer"/>
					</dt>
					<dd>
						<f:if condition="{event.organizer.link}">
							<f:then>
								<f:link.external uri="{event.organizer.link.link}" target="_blank" title="{event.organizer.organizer}">
									{event.organizer.organizer}
									<f:if condition="{event.organizer.link.title}">({event.organizer.link.title})
									</f:if>
								</f:link.external>
							</f:then>
							<f:else>
								{event.organizer.organizer}
							</f:else>
						</f:if>
					</dd>
				</dl>

				<f:if condition="{event.freeEntry}">
					<f:then>
						<dl class="extdl marginbottom2">
							<dd>
								<f:translate key="tx_events2_domain_model_event.free_entry"/>
							</dd>
						</dl>
					</f:then>
					<f:else>
					</f:else>
				</f:if>
				<dl class="extdl marginbottom2">
					<dd><span aria-hidden="true" class="icon-download"></span>
						<e2:widget.iCalendar event="{event}" />
					</dd>
				</dl>
				<f:if condition="{event.ticketLink.link}">
					<div class="csc-teaser iconteaser">
						<div class="teaserticket teaserinner">
							<div class="csc-header">
								<h2 class="noborder">
									<f:link.external uri="{event.ticketLink.link}" title="<f:translate key='tx_events2_domain_model_event.ticket_link'/>" target="_blank">
										<span class="teasertext">{f:if(condition: event.ticketLink.title, then: '{event.ticketLink.title}', else:'{event.ticketLink.link}')}</span><span aria-hidden="true" class="icon-arrowright"></span>
									</f:link.external>
								</h2>
							</div>
						</div>
					</div>
				</f:if>
			</div>
		</aside>
	</div>
</div>