<f:if condition="{time.timeBegin}">
	<f:translate key="tx_events2_domain_model_time.time_begin" />: {time.timeBegin}
</f:if>
<f:if condition="{time.timeEnd}">
	- <f:translate key="tx_events2_domain_model_time.time_end"/>: {time.timeEnd}
</f:if>
<f:if condition="{time.timeEntry}">
	<br /><f:translate key="tx_events2_domain_model_time.time_entry" />: {time.timeEntry}
</f:if>
<f:if condition="{time.duration}">
	<br/><f:translate key="tx_events2_domain_model_time.duration" />: {time.duration}
</f:if>