<html
	xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	data-namespace-typo3-fluid="true"
>
<f:security.ifHasRole role="{settings.userGroup}">
	<p class="align-right info-box">
		<f:link.action action="new" controller="Event" pageUid="{settings.pidOfDetailPage}" title="{f:translate(key: 'newEntry')}">
			<span><f:translate key="newEntry"/></span><span aria-hidden="true" class="icon-arrowright"></span>
		</f:link.action>
	</p>
	<p class="align-right info-box">
		<f:link.action action="listMyEvents" controller="Event" title="{f:translate(key: 'listMyEvents')}">
			<span><f:translate key="listMyEvents"/></span><span aria-hidden="true" class="icon-arrowright"></span>
		</f:link.action>
	</p>
</f:security.ifHasRole>
</html>
