<html lang="en"
			xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			xmlns:e2="http://typo3.org/ns/JWeiland/Events2/ViewHelpers"
			data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="main">
	<f:render partial="Event/Filter" arguments="{action: 'listRange', organizers: organizers, filter: filter}" />

	<div class="list scroll-container nopaginator">
		<f:render partial="Event/List" arguments="{days: paginatedDays, extConf: extConf}" />
		<f:render partial="Component/Pagination"
							arguments="{pagination: pagination, paginator: paginator, actionName: actionName}" />
	</div>
</f:section>
</html>
