<html lang="en"
			xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
			data-namespace-typo3-fluid="true">

<table class="table">
	<thead>
	<tr>
		<th>Config</th>
		<th>Value</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td><strong>Plugin</strong></td>
		<td>
			<f:switch expression="{list_type}">
				<f:case value="events2_search">Events2 Search</f:case>
				<f:case value="events2_calendar">Events2 Calendar</f:case>
				<f:defaultCase>Events</f:defaultCase>
			</f:switch>
		</td>
	</tr>
	<f:if condition="{pi_flexform_transformed.settings.pidOfDetailPage}">
		<tr>
			<td><strong>Detail Page</strong></td>
			<td>
				{pi_flexform_transformed.settings.pidOfDetailPage}
			</td>
		</tr>
	</f:if>
	<f:if condition="{pi_flexform_transformed.settings.mergeEventsAtSameDay} != ''">
		<tr>
			<td><strong>Merge Events same day</strong></td>
			<td>
				<f:if condition="{pi_flexform_transformed.settings.mergeEventsAtSameDay}">
					<f:then><core:icon identifier="actions-check" /></f:then>
					<f:else><core:icon identifier="actions-message-ok-close" /></f:else>
				</f:if>
			</td>
		</tr>
	</f:if>
	<f:if condition="{pi_flexform_transformed.settings.mergeRecurringEvents} != ''">
		<tr>
			<td><strong>Merge recurring Events</strong></td>
			<td>
				<f:if condition="{pi_flexform_transformed.settings.mergeRecurringEvents}">
					<f:then><core:icon identifier="actions-check" /></f:then>
					<f:else><core:icon identifier="actions-message-ok-close" /></f:else>
				</f:if>
			</td>
		</tr>
	</f:if>
	<f:if condition="{pi_flexform_transformed.settings.categories}">
		<tr>
			<td><strong>Categories</strong></td>
			<td>{pi_flexform_transformed.settings.categories}</td>
		</tr>
	</f:if>
	<f:if condition="{pi_flexform_transformed.settings.mainCategories}">
		<tr>
			<td><strong>Main Categories</strong></td>
			<td>{pi_flexform_transformed.settings.mainCategories}</td>
		</tr>
	</f:if>
	</tbody>
</table>
</html>
