<html lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:e2="http://typo3.org/ns/JWeiland/Events2/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="main">
    <f:if condition="{0: settings.display}=={0: 'displayImages'}">
        <f:then>
            <f:if condition="{event.images -> f:count()}">
                <f:render partial="Event/Images" arguments="{event: event}"/>
            </f:if>
        </f:then>
        <f:else>
            <header><h1>{event.videoLink.title}</h1></header>
            <div class="grid_8 floatleft">
                <div class="gridright">
                    <iframe width="560" height="315" src="{e2:createYoutubeUri(link: event.videoLink.link)}" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </f:else>
    </f:if>
</f:section>
</html>
