<T3DataStructure>
    <sheets>
        <sDEF>
            <ROOT>
                <sheetTitle>LLL:EXT:events2/Resources/Private/Language/FlexForms.xlf:sheetGeneral</sheetTitle>
                <type>array</type>
                <el>
                    <settings.listType>
                        <label>LLL:EXT:events2/Resources/Private/Language/FlexForms.xlf:listType</label>
                        <config>
                            <type>select</type>
                            <renderType>selectSingle</renderType>
                            <items>
                                <numIndex index="0">
                                    <label>LLL:EXT:events2/Resources/Private/Language/FlexForms.xlf:listType.list</label>
                                    <value>list</value>
                                </numIndex>
                                <numIndex index="1">
                                    <label>LLL:EXT:events2/Resources/Private/Language/FlexForms.xlf:listType.listLatest</label>
                                    <value>listLatest</value>
                                </numIndex>
                                <numIndex index="2">
                                    <label>LLL:EXT:events2/Resources/Private/Language/FlexForms.xlf:listType.listToday</label>
                                    <value>listToday</value>
                                </numIndex>
                                <numIndex index="3">
                                    <label>LLL:EXT:events2/Resources/Private/Language/FlexForms.xlf:listType.listThisWeek</label>
                                    <value>listWeek</value>
                                </numIndex>
                                <numIndex index="4">
                                    <label>LLL:EXT:events2/Resources/Private/Language/FlexForms.xlf:listType.listRange</label>
                                    <value>listRange</value>
                                </numIndex>
                            </items>
                        </config>
                    </settings.listType>
                    <settings.pidOfDetailPage>
                        <label>LLL:EXT:events2/Resources/Private/Language/FlexForms.xlf:pidOfDetailPage</label>
                        <config>
                            <type>group</type>
                            <allowed>pages</allowed>
                            <size>1</size>
                            <maxitems>1</maxitems>
                            <minitems>0</minitems>
                        </config>
                    </settings.pidOfDetailPage>
                    <settings.pidOfListPage>
                        <label>LLL:EXT:events2/Resources/Private/Language/FlexForms.xlf:pidOfListPage</label>
                        <config>
                            <type>group</type>
                            <allowed>pages</allowed>
                            <size>1</size>
                            <maxitems>1</maxitems>
                            <minitems>0</minitems>
                        </config>
                    </settings.pidOfListPage>
                    <settings.pidOfLocationPage>
                        <label>LLL:EXT:events2/Resources/Private/Language/FlexForms.xlf:pidOfLocationPage</label>
                        <config>
                            <type>group</type>
                            <allowed>pages</allowed>
                            <size>1</size>
                            <maxitems>1</maxitems>
                            <minitems>0</minitems>
                        </config>
                    </settings.pidOfLocationPage>
                    <settings.pidOfManagementPage>
                        <label>LLL:EXT:events2/Resources/Private/Language/FlexForms.xlf:pidOfManagementPage</label>
                        <config>
                            <type>group</type>
                            <allowed>pages</allowed>
                            <size>1</size>
                            <maxitems>1</maxitems>
                            <minitems>0</minitems>
                        </config>
                    </settings.pidOfManagementPage>
                    <settings.categories>
                        <label>LLL:EXT:events2/Resources/Private/Language/FlexForms.xlf:categories</label>
                        <config>
                            <type>select</type>
                            <renderType>selectTree</renderType>
                            <foreign_table>sys_category</foreign_table>
                            <renderMode>tree</renderMode>
                            <treeConfig>
                                <parentField>parent</parentField>
                                <rootUid>0</rootUid>
                                <appearance>
                                    <showHeader>TRUE</showHeader>
                                    <expandAll>FALSE</expandAll>
                                    <maxLevels>99</maxLevels>
                                </appearance>
                            </treeConfig>
                            <size>15</size>
                            <maxitems>99</maxitems>
                            <minitems>0</minitems>
                        </config>
                    </settings.categories>
                </el>
            </ROOT>
        </sDEF>
        <list>
            <ROOT>
                <sheetTitle>LLL:EXT:events2/Resources/Private/Language/FlexForms.xlf:sheetList</sheetTitle>
                <type>array</type>
                <el>
                    <settings.latest.amountOfRecordsToShow>
                        <label>LLL:EXT:events2/Resources/Private/Language/FlexForms.xlf:amountOfRecordsToShow</label>
                        <config>
                            <type>number</type>
                            <size>5</size>
                            <default>0</default>
                        </config>
                    </settings.latest.amountOfRecordsToShow>
                    <settings.mergeEventsAtSameDay>
                        <label>LLL:EXT:events2/Resources/Private/Language/FlexForms.xlf:mergeEventsAtSameDay</label>
                        <description>LLL:EXT:events2/Resources/Private/Language/FlexForms.xlf:mergeEventsAtSameDay.description</description>
                        <config>
                            <type>check</type>
                            <renderType>checkboxToggle</renderType>
                            <default>0</default>
                        </config>
                    </settings.mergeEventsAtSameDay>
                    <settings.mergeRecurringEvents>
                        <label>LLL:EXT:events2/Resources/Private/Language/FlexForms.xlf:mergeRecurringEvents</label>
                        <description>LLL:EXT:events2/Resources/Private/Language/FlexForms.xlf:mergeRecurringEvents.description</description>
                        <config>
                            <type>check</type>
                            <renderType>checkboxToggle</renderType>
                            <default>0</default>
                        </config>
                    </settings.mergeRecurringEvents>
                    <settings.preFilterByOrganizer>
                        <label>LLL:EXT:events2/Resources/Private/Language/FlexForms.xlf:preFilterByOrganizer</label>
                        <config>
                            <type>select</type>
                            <renderType>selectSingle</renderType>
                            <foreign_table>tx_events2_domain_model_organizer</foreign_table>
                            <foreign_table_where> AND (###PAGE_TSCONFIG_ID### = 0 OR tx_events2_domain_model_organizer.pid = ###PAGE_TSCONFIG_ID###) ORDER BY tx_events2_domain_model_organizer.organizer</foreign_table_where>
                            <items>
                                <numIndex index="0">
                                    <label></label>
                                    <value></value>
                                </numIndex>
                            </items>
                            <size>1</size>
                            <maxitems>1</maxitems>
                            <minitems>0</minitems>
                        </config>
                    </settings.preFilterByOrganizer>
                    <settings.showFilterForOrganizerInFrontend>
                        <label>LLL:EXT:events2/Resources/Private/Language/FlexForms.xlf:showFilterForOrganizerInFrontend</label>
                        <description>LLL:EXT:events2/Resources/Private/Language/FlexForms.xlf:showFilterForOrganizerInFrontend.description</description>
                        <config>
                            <type>check</type>
                            <renderType>checkboxToggle</renderType>
                            <default>0</default>
                        </config>
                    </settings.showFilterForOrganizerInFrontend>
                </el>
            </ROOT>
        </list>
        <detail>
            <ROOT>
                <sheetTitle>LLL:EXT:events2/Resources/Private/Language/FlexForms.xlf:sheetDetail</sheetTitle>
                <type>array</type>
                <el>
                    <settings.display>
                        <label>LLL:EXT:events2/Resources/Private/Language/FlexForms.xlf:display</label>
                        <description>LLL:EXT:events2/Resources/Private/Language/FlexForms.xlf:display.description</description>
                        <config>
                            <type>radio</type>
                            <items>
                                <numIndex index="0">
                                    <label>LLL:EXT:events2/Resources/Private/Language/FlexForms.xlf:displayBoth</label>
                                    <value>displayBoth</value>
                                </numIndex>
                                <numIndex index="1">
                                    <label>LLL:EXT:events2/Resources/Private/Language/FlexForms.xlf:displayImages</label>
                                    <value>displayImages</value>
                                </numIndex>
                                <numIndex index="2">
                                    <label>LLL:EXT:events2/Resources/Private/Language/FlexForms.xlf:displayEvent</label>
                                    <value>displayEvent</value>
                                </numIndex>
                            </items>
                            <default>displayBoth</default>
                        </config>
                    </settings.display>
                </el>
            </ROOT>
        </detail>
    </sheets>
</T3DataStructure>
