<T3DataStructure>
	<meta>
		<langDisable>1</langDisable>
	</meta>
	<sheets>
		<sDEFAULT>
			<ROOT>
				<TCEforms>
					<sheetTitle>LLL:EXT:events2/Resources/Private/Language/FlexForms.xlf:sheetGeneral</sheetTitle>
				</TCEforms>
				<type>array</type>
				<el>
					<switchableControllerActions>
						<TCEforms>
							<label>LLL:EXT:events2/Resources/Private/Language/FlexForms.xlf:chooseAction</label>
							<config>
								<type>select</type>
								<items>
									<numIndex index="0">
										<numIndex index="0">LLL:EXT:events2/Resources/Private/Language/FlexForms.xlf:list</numIndex>
										<numIndex index="1" />
									</numIndex>
									<numIndex index="1">
										<numIndex index="0">LLL:EXT:events2/Resources/Private/Language/FlexForms.xlf:listLatest</numIndex>
										<numIndex index="1"><![CDATA[Event->listLatest;Event->show;Day->show;Location->show;Video->show]]></numIndex>
									</numIndex>
									<numIndex index="2">
										<numIndex index="0">LLL:EXT:events2/Resources/Private/Language/FlexForms.xlf:listToday</numIndex>
										<numIndex index="1"><![CDATA[Event->listToday;Event->show;Day->show;Location->show;Video->show]]></numIndex>
									</numIndex>
									<numIndex index="3">
										<numIndex index="0">LLL:EXT:events2/Resources/Private/Language/FlexForms.xlf:listRange</numIndex>
										<numIndex index="1"><![CDATA[Event->listRange;Event->show;Day->show;Location->show;Video->show]]></numIndex>
									</numIndex>
									<numIndex index="4">
										<numIndex index="0">LLL:EXT:events2/Resources/Private/Language/FlexForms.xlf:listThisWeek</numIndex>
										<numIndex index="1"><![CDATA[Event->listThisWeek;Event->show;Day->show;Location->show;Video->show]]></numIndex>
									</numIndex>
								</items>
							</config>
						</TCEforms>
					</switchableControllerActions>
					<settings.pidOfDetailPage>
						<TCEforms>
							<label>LLL:EXT:events2/Resources/Private/Language/FlexForms.xlf:pidOfDetailPage</label>
							<config>
								<type>input</type>
								<eval>int</eval>
								<default>0</default>
							</config>
						</TCEforms>
					</settings.pidOfDetailPage>
					<settings.pidOfListPage>
						<TCEforms>
							<label>LLL:EXT:events2/Resources/Private/Language/FlexForms.xlf:pidOfListPage</label>
							<config>
								<type>input</type>
								<eval>int</eval>
								<default>0</default>
							</config>
						</TCEforms>
					</settings.pidOfListPage>
					<settings.pidOfLocationPage>
						<TCEforms>
							<label>LLL:EXT:events2/Resources/Private/Language/FlexForms.xlf:pidOfLocationPage</label>
							<config>
								<type>input</type>
								<eval>int</eval>
								<default>0</default>
							</config>
						</TCEforms>
					</settings.pidOfLocationPage>
					<settings.pidOfSearchPage>
						<TCEforms>
							<label>LLL:EXT:events2/Resources/Private/Language/FlexForms.xlf:pidOfSearchPage</label>
							<config>
								<type>input</type>
								<eval>int</eval>
								<default>0</default>
							</config>
						</TCEforms>
					</settings.pidOfSearchPage>
					<settings.categories>
						<TCEforms>
							<label>LLL:EXT:events2/Resources/Private/Language/FlexForms.xlf:categories</label>
							<config>
								<type>select</type>
								<foreign_table>sys_category</foreign_table>
								<renderMode>tree</renderMode>
								<treeConfig>
									<parentField>parent</parentField>
									<rootUid>0</rootUid>
									<appearance>
										<showHeader>TRUE</showHeader>
										<expandAll>FALSE</expandAll>
									</appearance>
								</treeConfig>
								<size>15</size>
								<maxitems>99</maxitems>
								<minitems>0</minitems>
							</config>
						</TCEforms>
					</settings.categories>
				</el>
			</ROOT>
		</sDEFAULT>
		<list>
			<ROOT>
				<TCEforms>
					<sheetTitle>LLL:EXT:events2/Resources/Private/Language/FlexForms.xlf:sheetList</sheetTitle>
				</TCEforms>
				<type>array</type>
				<el>
					<settings.mergeEvents>
						<TCEforms>
							<label>LLL:EXT:events2/Resources/Private/Language/FlexForms.xlf:mergeEvents</label>
							<config>
								<type>check</type>
								<default>0</default>
							</config>
						</TCEforms>
					</settings.mergeEvents>
					<settings.preFilterByOrganizer>
						<TCEforms>
							<label>LLL:EXT:events2/Resources/Private/Language/FlexForms.xlf:preFilterByOrganizer</label>
							<config>
								<type>select</type>
								<foreign_table>tx_events2_domain_model_organizer</foreign_table>
								<foreign_table_where>AND CASE ###PAGE_TSCONFIG_ID### WHEN 0 THEN tx_events2_domain_model_organizer.pid>0 ELSE tx_events2_domain_model_organizer.pid=###PAGE_TSCONFIG_ID### END ORDER BY title</foreign_table_where>
								<items>
									<numIndex index="0">
										<numIndex index="0" />
										<numIndex index="1" />
									</numIndex>
								</items>
								<size>1</size>
								<maxitems>1</maxitems>
								<minitems>0</minitems>
							</config>
						</TCEforms>
					</settings.preFilterByOrganizer>
					<settings.showFilterForOrganizerInFrontend>
						<TCEforms>
							<label>LLL:EXT:events2/Resources/Private/Language/FlexForms.xlf:showFilterForOrganizerInFrontend</label>
							<config>
								<type>check</type>
							</config>
						</TCEforms>
					</settings.showFilterForOrganizerInFrontend>
				</el>
			</ROOT>
		</list>
		<detail>
			<ROOT>
				<TCEforms>
					<sheetTitle>LLL:EXT:events2/Resources/Private/Language/FlexForms.xlf:sheetDetail</sheetTitle>
				</TCEforms>
				<type>array</type>
				<el>
					<settings.display>
						<TCEforms>
							<label>LLL:EXT:events2/Resources/Private/Language/FlexForms.xlf:display</label>
							<config>
								<type>radio</type>
								<items>
									<numIndex index="0">
										<numIndex index="0">LLL:EXT:events2/Resources/Private/Language/FlexForms.xlf:displayBoth</numIndex>
										<numIndex index="1">displayBoth</numIndex>
									</numIndex>
									<numIndex index="1">
										<numIndex index="0">LLL:EXT:events2/Resources/Private/Language/FlexForms.xlf:displayImages</numIndex>
										<numIndex index="1">displayImages</numIndex>
									</numIndex>
									<numIndex index="2">
										<numIndex index="0">LLL:EXT:events2/Resources/Private/Language/FlexForms.xlf:displayEvent</numIndex>
										<numIndex index="1">displayEvent</numIndex>
									</numIndex>
								</items>
								<default>displayBoth</default>
							</config>
						</TCEforms>
					</settings.display>
				</el>
			</ROOT>
		</detail>
		<new>
			<ROOT>
				<TCEforms>
					<sheetTitle>LLL:EXT:events2/Resources/Private/Language/FlexForms.xlf:sheetNew</sheetTitle>
				</TCEforms>
				<type>array</type>
				<el>
					<settings.selectableCategoriesForNewEvents>
						<TCEforms>
							<label>LLL:EXT:events2/Resources/Private/Language/FlexForms.xlf:selectableCategoriesForNewEvents</label>
							<config>
								<type>select</type>
								<foreign_table>sys_category</foreign_table>
								<renderMode>tree</renderMode>
								<treeConfig>
									<parentField>parent</parentField>
									<rootUid>0</rootUid>
									<appearance>
										<showHeader>TRUE</showHeader>
										<expandAll>FALSE</expandAll>
									</appearance>
								</treeConfig>
								<size>15</size>
								<maxitems>99</maxitems>
								<minitems>0</minitems>
							</config>
						</TCEforms>
					</settings.selectableCategoriesForNewEvents>
				</el>
			</ROOT>
		</new>
	</sheets>
</T3DataStructure>
