<html lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Search"/>

<f:section name="Main">
    <f:flashMessages/>
    <f:flashMessages queueIdentifier="extbase.flashmessages.tx_events2_management"/>

    <form id="events2SearchForm" class="form-horizontal" method="post" name="search" action="{f:uri.page(pageUid: settings.pidOfSearchResults)}">
        <f:render partial="Search/FormFields" arguments="{_all}"/>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <input type="submit" class="btn btn-primary" value="{f:translate(key: 'search')}"/>
            </div>
        </div>
    </form>
</f:section>
</html>
