<f:layout name="Default" />

<f:section name="main">
	<script type="text/javascript">
		var days;
		var siteUrl = "{siteUrl}index.php";
		var siteId = {siteId};
		var setDate = "{day}.{month}.{year}";
		var categories = "{settings.categories}";
		var storagePids = "{storagePids}";
		var pidOfListPage = "{pidOfListPage}";
		var currentDate = new Date({year}, ({month} - 1), {day});

		$(function() {

			days = getDaysForMonth(currentDate.getMonth() + 1, currentDate.getFullYear(), storagePids, pidOfListPage);

			jQuery( "div#events2calendar" ).datepicker({
				dateFormat: "dd.mm.yy",
				beforeShowDay: function(date) {
					if (days == null) return [false, "", ""];
					if (days.hasOwnProperty(date.getDate())) {
						var title = getTitle(days, date);
						if (title) {
							return [true, getClass(days, date), title];
						} else {
							return [false, getClass(days, date), ""];
						}
					} else {
						return [false, "", ""];
					}
				},
				onSelect: function(dateText, inst) {
					if (days != null && days.hasOwnProperty(inst.currentDay)) {
						window.location.href = days[inst.currentDay][0]["uri"];
					}
				},
				onChangeMonthYear: function(year, month, inst) {
					days = getDaysForMonth(month, year, storagePids, pidOfListPage);
				}
			});
			jQuery( "div#events2calendar" ).datepicker("setDate", setDate);

			// Get className for day
			function getClass(days, date) {
				var className = '';
				for (var i = 0; i < days[date.getDate()].length; i++) {
					if (days[date.getDate()][i].hasOwnProperty("class")) {
						className = days[date.getDate()][i]["class"];
						break;
					}
				}
				return className;
			}

			// Get title for day
			function getTitle(days, date) {
				var title = '';
				var day = date.getDate();
				var temp = date.getDay();
				for (var i = 0; i < days[date.getDate()].length; i++) {
					if (days[date.getDate()][i].hasOwnProperty("title")) {
						title = days[date.getDate()][i]["title"];
						break;
					}
				}
				return title;
			}

			/**
			 * update links in calendar
			 *
			 * @param days
			 * @param month
			 * @param year
			 */
			function updateLinks(days, month, year) {
				for (var property in days) {
					if (days.hasOwnProperty(property)) {
						jQuery( "table.ui-datepicker-calendar tbody" ).find( "td[data-month=" + month + "][data-year=" + year + "] a:contains('" + property + "')").attr( "href", days[property][0]["uri"] );
					}
				}
			}

			/**
			 * get days for month
			 * this starts an ajax call to the server and make them globally available
			 *
			 * @param month
			 * @param year
			 * @param storagePids
			 * @param pidOfListPage
			 * @return array
			 */
			function getDaysForMonth(month, year, storagePids, pidOfListPage) {
				var days = null;

				/* <![CDATA[ */
				jQuery.ajax({
					type: 'GET',
					url: siteUrl,
					async: false,
					dataType: 'json',
					data: {
						eID: 'events2findDaysForMonth',
						tx_events2_events: {
							arguments: {
								categories: categories,
								month: month,
								year: year,
								storagePids: storagePids,
								pidOfListPage: pidOfListPage
							}
						}
					},
					success: function( json ) {
						days = json;
					},
					error: function( xhr, error ) {
						console.log( error );
					}
				});
				/* ]]> */

				return days;
			}
		});
	</script>

	<div id="events2calendar"></div>
</f:section>