{namespace e2=JWeiland\Events2\ViewHelpers}

<div class="row">
  <div class="col-md-9">
    <h1>{day.event.title}</h1>
    <f:render section="renderImages" arguments="{event: day.event}" />
    <f:render section="videoLink" arguments="{event: day.event}" />
    <p class="lead">{day.event.teaser}</p>
    <f:format.html>{day.event.detailInformations}</f:format.html>
    <f:render section="downloadLinks" arguments="{event: day.event}" />
    <f:if condition="{day.day}">
      <f:render section="showDatesAndTimes" arguments="{days: '{e2:getEventDates(event: day.event)}'}" />
    </f:if>
  </div>
  <div class="col-md-3">
    <f:render section="location" arguments="{event: day.event}" />
    <f:render section="googleRoute" arguments="{event: day.event}" />
    <f:render section="organizer" arguments="{event: day.event}" />
    <f:render section="freeEntry" arguments="{event: day.event}" />
    <f:if condition="{day.day}">
      <f:render section="iCalendar" arguments="{day: day}" />
    </f:if>
  </div>
</div>

<f:section name="renderImages">
  <f:if condition="{0: settings.display}=={0: 'displayEvent'}">
    <f:then></f:then>
    <f:else>
      <f:if condition="{event.images -> f:count}">
        <f:render partial="Event/Images" arguments="{event: event}"/>
      </f:if>
    </f:else>
  </f:if>
</f:section>

<f:section name="videoLink">
  <f:if condition="{event.videoLink}">
    <f:link.action action="show" controller="Video" arguments="{event: event}">
      <span class="glyphicon glyphicon-film" aria-hidden="true"></span>
      {f:if(condition: event.videoLink.title, then: event.videoLink.title, else: 'Video')}
    </f:link.action>
  </f:if>
</f:section>

<f:section name="downloadLinks">
  <f:if condition="{event.downloadLinks}">
    <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
    <e2:link.typolink parameter="{event.downloadLinks.link}" title="{event.downloadLinks.title}">{link.event.downloadLinks.title}</e2:link.typolink>
  </f:if>
</f:section>

<f:section name="showDatesAndTimes">
  <h3>Alternative Veranstaltungstage</h3>
  <div class="row">
    <f:for each="{days}" as="day" iteration="iterator">
      <f:if condition="{iterator.index} > 0">
        <f:if condition="{iterator.index} % 3">
          <f:then> </f:then><f:else></div><div class="row"></f:else>
        </f:if>
      </f:if>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <f:if condition="{day.isRemoved}">
              <f:then>
                <strong><s>{day.day.day -> f:format.date(format: '%A, %d.%m.%Y')}</s></strong>
              </f:then>
              <f:else>
                <strong>{day.day.day -> f:format.date(format: '%A, %d.%m.%Y')}</strong>
              </f:else>
            </f:if>
          </div>
          <div class="panel-body">
            <f:render partial="Event/Time" arguments="{time: day.time}" />
            <f:if condition="{day.infos}">
              <f:for each="{day.infos}" as="info">
                <br/>{info.exceptionDetails -> f:format.html(parseFuncTSPath: 'lib.parseFunc') -> f:format.nl2br()}
              </f:for>
            </f:if>
          </div>
        </div>
      </div>
    </f:for>
  </div>
</f:section>

<f:section name="location">
  <dl>
    <dt><f:translate key="tx_events2_domain_model_event.location"/></dt>
    <dd>
      <f:link.action
      action="show"
      controller="Location"
      pageUid="{settings.pidOfLocationPage}"
      arguments="{location: event.location}"
      title="{event.location.location}"
      >{event.location.location}</f:link.action>
    </dd>
    <dd>
      <figure>
        <f:link.action action="show" controller="Location" pageUid="{settings.pidOfLocationPage}" arguments="{location: event.location}" title="{f:translate(key: 'altTextMapImg')}">
          <f:image src="{f:uri.resource(path: 'Icons/thumbmaps.png')}" alt="{f:translate(key: 'altTextMapImg')}"/>
        </f:link.action>
      </figure>
    </dd>
  </dl>
</f:section>

<f:section name="googleRoute">
  <f:if condition="{event.location.street}">
    <dl>
      <dt>Routenplaner</dt>
      <dd>
        <f:alias map="{address: '{event.location.street} {event.location.houseNumber} {event.location.zip} {event.location.city}'}">
          <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
          <f:link.external target="_blank" uri="https://www.google.de/maps/dir//{address->f:format.urlencode()}">Google Maps</f:link.external>
        </f:alias>
      </dd>
    </dl>
  </f:if>
</f:section>

<f:section name="organizer">
  <dl>
    <dt><f:translate key="tx_events2_domain_model_event.organizer" /></dt>
    <dd>
      <f:if condition="{event.organizer.link}">
        <f:then>
          <f:link.external uri="{event.organizer.link.link}" target="_blank" title="{event.organizer.organizer}">
            {event.organizer.organizer}
            <f:if condition="{event.organizer.link.title}"><br />({event.organizer.link.title})</f:if>
          </f:link.external>
        </f:then>
        <f:else>
          {event.organizer.organizer}
        </f:else>
      </f:if>
    </dd>
  </dl>
</f:section>

<f:section name="freeEntry">
  <f:if condition="{event.freeEntry}">
    <dl class="extdl marginbottom2">
      <dt><f:translate key="tx_events2_domain_model_event.free_entry" /></dt>
      <dd><f:translate key="tx_events2_domain_model_event.yes" /></dd>
    </dl>
  </f:if>
</f:section>

<f:section name="iCalendar">
  <dl>
    <dt>iCalendar</dt>
    <dd>
      <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
      <e2:widget.iCalendar day="{day}" />
    </dd>
  </dl>
</f:section>

<f:section name="ticketLink">
  <f:if condition="{event.ticketLink.link}">
    <dl>
      <dt>Ticketlink</dt>
      <dd>
        <h2>
          <f:link.external uri="{event.ticketLink.link}" title="{f:translate(key: 'tx_events2_domain_model_event.ticket_link')}" target="_blank">
            {f:if(condition: event.ticketLink.title, then: '{event.ticketLink.title}', else:'{event.ticketLink.link}')}
            <span aria-hidden="true" class="icon-arrowright"></span>
          </f:link.external>
        </h2>
      </dd>
    </dl>
  </f:if>
</f:section>
