<html lang="en"
			xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="main">
	<f:render partial="Event/Filter" arguments="{action: 'listLatest', organizers: organizers, filter: filter}" />

	<div class="list scroll-container nopaginator">
		<f:render partial="Event/List" arguments="{days: days, extConf: extConf}" />
		<f:if condition="{settings.pidOfListPage}">
			<div class="morelink clearfix">
				<f:link.action pageUid="{settings.pidOfListPage}" action="list" title="{f:translate(key: 'link.listEvents')}"><span><f:translate key="link.listEvents" /></span><span aria-hidden="true" class="icon-arrowright"></span></f:link.action>
			</div>
		</f:if>
	</div>
</f:section>
</html>
