{namespace e2=JWeiland\Events2\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">
	<f:flashMessages />

	<f:render partial="Event/UserEditLinks" />
	<f:render partial="Event/Filter" arguments="{action: 'list', organizers: organizers, filter: filter}" />

	<div class="list scroll-container">
		<f:widget.paginate objects="{days}" as="paginatedDays" configuration="{itemsPerPage: settings.pageBrowser.itemsPerPage, insertAbove: settings.pageBrowser.insertAbove, insertBelow: settings.pageBrowser.insertBelow, maximumNumberOfLinks: settings.pageBrowser.maximumNumberOfLinks, addQueryStringMethod: 'GET,POST'}">
			<f:render partial="Event/List" arguments="{days: paginatedDays, extConf: extConf}" />
		</f:widget.paginate>
	</div>
</f:section>
