<html lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="Main">
    <f:flashMessages/>

    <f:if condition="{0: settings.display}=={0: 'displayImages'}">
        <f:then>
            <f:if condition="{day.event.images->f:count}">
                <f:render partial="Event/Images" arguments="{event: day.event}"/>
            </f:if>
        </f:then>
        <f:else>
            <f:if condition="{day}">
                <f:render section="newEdit" arguments="{event: day.event}"/>
                <f:render partial="Day/Properties" arguments="{day: day}"/>
            </f:if>
        </f:else>
    </f:if>
</f:section>

<f:section name="newEdit">
    <f:security.ifHasRole role="{settings.userGroup}">
        <p class="align-right info-box">
            <f:link.action action="new" controller="Management" pageUid="{settings.pidOfManagementPage}" title="{f:translate(key: 'newEntry')}">
                {f:translate(key: 'newEntry')}
                <span aria-hidden="true" class="icon-arrowright"></span>
            </f:link.action>
        </p>
        <f:if condition="{event.isCurrentUserAllowedOrganizer}">
            <p class="align-right info-box">
                <f:link.action action="edit" controller="Management" arguments="{event: event, timestamp: '0'}" title="{f:translate(key: 'update')}">
                    {f:translate(key: 'update')}
                    <span aria-hidden="true" class="icon-arrowright"></span>
                </f:link.action>
            </p>
        </f:if>
    </f:security.ifHasRole>
</f:section>
</html>
