<html lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:m2="http://typo3.org/ns/JWeiland/Maps2/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="Main">
    <h1>{location.location}</h1>

    <f:if condition="{location.txMaps2Uid}">
        <f:render partial="Maps2/PoiCollection"
                  section="showMap"
                  arguments="{poiCollections: {0: location.txMaps2Uid}, override: {settings: {mapWidth: '100%', mapHeight: '300', zoom: '14'}}}"/>
    </f:if>

    <address>
        <strong>{location.location}</strong>
        <f:if condition="{location.street}"><br>{location.street} {location.houseNumber}</f:if>
        <f:if condition="{location.city}"><br>{location.zip} {location.city}</f:if>
    </address>
</f:section>
</html>
