services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  JWeiland\Events2\:
    resource: '../Classes/*'
    exclude:
      - '../Classes/Domain/Model/*'
      - '../Classes/Exporter/ExporterConfiguration.php'
      - '../Classes/Hooks/Solr/{IndexerHook.php,IndexerHook104.php}'

  qb.event:
    class: TYPO3\CMS\Core\Database\Query\QueryBuilder
    factory: ['@TYPO3\CMS\Core\Database\ConnectionPool', 'getQueryBuilderForTable']
    arguments: ['tx_events2_domain_model_event']

  # Called by makeInstance in eID middleware
  JWeiland\Events2\Ajax\FindDaysForMonth:
    public: true

  # Called by makeInstance in eID middleware
  JWeiland\Events2\Ajax\FindLocations:
    public: true

  # Called by makeInstance in FormDataGroup/OrderedProviderList
  JWeiland\Events2\Backend\FormDataProvider\InitializeNewEventRecord:
    public: true

  # Called by makeInstance in BE form FormDataGroup/OrderedProviderList
  JWeiland\Events2\Backend\FormDataProvider\ModifyRootUidOfTreeSelectElements:
    public: true

  # Called by makeInstance and is stateful
  JWeiland\Events2\Configuration\ExtConf:
    public: true

  # Called by container->get in FormRequestHandler::buildFormDefinition of EXT:form
  JWeiland\Events2\Domain\Factory\ArrayFormFactory:
    public: true

  JWeiland\Events2\Domain\Factory\DayFactory:
    public: true

  # Called by makeInstance in event model where constructors are not loaded in some cases
  # Called by makeInstance in static GetMergedEventTimesViewHelper
  JWeiland\Events2\Domain\Factory\TimeFactory:
    public: true

  # Must be public, because of ->initializeObject().
  # Needed for Tests. In Extbase env the Container class will take care about calling ->initializeObject()
  JWeiland\Events2\Domain\Model\Event:
    public: true
    shared: false

  # Must be public as this model was created by makeInstance in DayGenerationService
  JWeiland\Events2\Domain\Model\DateTimeEntry:
    public: true
    shared: false
    autowire: false
    autoconfigure: false

  JWeiland\Events2\Helper\PathSegmentHelper:
    arguments:
      $queryBuilder: '@qb.event'

  # Called by makeInstance from EXT:form
  JWeiland\Events2\Hooks\Form\PrefillCategoriesHook:
    public: true

  # Called by makeInstance from EXT:solr
  JWeiland\Events2\Hooks\Solr\ResultsCommandHook:
    public: true

  # Called by makeInstance in TYPO3s DataHandler
  JWeiland\Events2\Hooks\DataHandler:
    public: true

  # Called by makeInstance in PathSegmentHelper
  JWeiland\Events2\Hooks\SlugPostModifierHook:
    public: true

  # XML importer class will be called by GU::makeInstance in Task\Import
  JWeiland\Events2\Importer\XmlImporter:
    public: true

  # Called by makeInstance out of TypoScript
  JWeiland\Events2\PageTitleProvider\Events2PageTitleProvider:
    public: true

  # Contains public API for other extension developers. Keep public.
  JWeiland\Events2\Service\:
    resource: '../Classes/Service/*'
    public: true

  # Called by makeInstance in SchedulerModuleController
  JWeiland\Events2\Task\ReGenerateDays:
    public: true

  # Called by makeInstance in TCA validation "eval"
  JWeiland\Events2\Tca\Type\Time:
    public: true

  # Must be public, because it was called by makeInstance in TYPO3s UpgradeWizardsService
  JWeiland\Events2\Upgrade\EventsSlugUpgrade:
    public: true

  # Called by makeInstance in event model where constructors are not loaded in some cases
  JWeiland\Events2\Utility\DateTimeUtility:
    public: true

  JWeiland\Events2\Property\TypeConverter\DateTimeImmutableConverter:
    tags:
      - name: extbase.type_converter
        priority: 1
        target: DateTimeImmutable
        sources: string,integer,array

  JWeiland\Events2\EventListener\AddOrganizerToEventRecordEventListener:
    tags:
      - name: 'event.listener'
        identifier: 'addOrganizerToEventRecord'
        event: JWeiland\Events2\Event\PreProcessControllerActionEvent
  JWeiland\Events2\EventListener\AllowFilterByGetRequestEventListener:
    tags:
      - name: 'event.listener'
        identifier: 'allowFilterByGetRequest'
  JWeiland\Events2\EventListener\AllowOrganizerForFilterEventListener:
    tags:
      - name: 'event.listener'
        identifier: 'allowOrganizerForFilter'
  JWeiland\Events2\EventListener\AllowSearchParameterEventListener:
    tags:
      - name: 'event.listener'
        identifier: 'allowSearchParameter'
  JWeiland\Events2\EventListener\ApplyLocationAsMandatoryIfNeededEventListener:
    tags:
      - name: 'event.listener'
        identifier: 'applyLocationAsMandatoryIfNeeded'
  JWeiland\Events2\EventListener\AssignMediaTypeConverterEventListener:
    tags:
      - name: 'event.listener'
        identifier: 'assignMediaTypeConverter'
  JWeiland\Events2\EventListener\RestrictAccessEventListener:
    tags:
      - name: 'event.listener'
        identifier: 'restrictAccess'
  JWeiland\Events2\EventListener\RegisterHiddenEventEventListener:
    tags:
      - name: 'event.listener'
        identifier: 'registerHiddenEvent'
  JWeiland\Events2\EventListener\SetDateFormatForPropertyMappingEventListener:
    tags:
      - name: 'event.listener'
        identifier: 'setDateFormatForPropertyMapping'
  JWeiland\Events2\EventListener\ActivateHiddenDayRecordsEventListener:
    tags:
      - name: 'event.listener'
        identifier: 'activateHiddenDayRecords'
  JWeiland\Events2\EventListener\AddOrganizersForFilterEventListener:
    tags:
      - name: 'event.listener'
        identifier: 'addOrganizersForFilter'
  JWeiland\Events2\EventListener\AddPaginatorEventListener:
    tags:
      - name: 'event.listener'
        identifier: 'addPaginator'
  JWeiland\Events2\EventListener\DeleteUploadedFilesOnErrorEventListener:
    tags:
      - name: 'event.listener'
        identifier: 'deleteUploadedFilesOnError'
  JWeiland\Events2\EventListener\AddJsonLdToPageHeaderEventListener:
    tags:
      - name: 'event.listener'
        identifier: 'addJsonLdToPageHeader'
  JWeiland\Events2\EventListener\UpdateEventPathSegmentEventListener:
    tags:
      - name: 'event.listener'
        identifier: 'updateEventPathSegment'

  # Register CLI commands
  JWeiland\Events2\Command\RebuildCommand:
    tags:
    - name: 'console.command'
      command: 'events2:rebuild'
      description: 'This command will TRUNCATE (delete) all day records found in day table and will re-create all day records afterwards'
      schedulable: true
  JWeiland\Events2\Command\ExportEventsCommand:
    tags:
    - name: 'console.command'
      command: 'events2:export'
      description: 'This command will prepare events2 records for export to by imported via another TYPO3 instance with activated EXT:reactions'
      schedulable: true
