{namespace e2=JWeiland\Events2\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">
	<f:render partial="Event/UserEditLinks" />
	<f:render partial="Event/Filter" arguments="{action: 'listThisWeek', organizers: organizers, filter: filter}" />

	<div class="list scroll-container nopaginator">
		<e2:widget.paginate objects="{events}" as="paginatedEvents" configuration="{itemsPerPage: settings.pageBrowser.itemsPerPage, insertAbove: settings.pageBrowser.insertAbove, insertBelow: settings.pageBrowser.insertBelow, maximumNumberOfLinks: settings.pageBrowser.maximumNumberOfLinks}">
			<f:render partial="Event/List" arguments="{events: paginatedEvents}" />
		</e2:widget.paginate>
	</div>
</f:section>
