{namespace events2=JWeiland\Events2\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">
	<f:flashMessages class="info-box2" />

	<f:security.ifHasRole role="{settings.userGroup}">
		<p class="align-right info-box">
			<f:link.action action="new" pageUid="{settings.pidOfDetailPage}" title="{f:translate(key: 'newEntry')}">
				<span><f:translate key="newEntry"/></span><span aria-hidden="true" class="icon-arrowright"></span>
			</f:link.action>
		</p>
	</f:security.ifHasRole>

	<f:if condition="{eventsOnTopOfList}">
		<div class="topOfList">
			<f:render partial="Event/List" arguments="{events: eventsOnTopOfList}" />
		</div>
	</f:if>
	<div class="list scroll-container">
		<ul>
			<f:for each="{events}" as="event">
				<li><f:link.action action="edit" arguments="{event: event}">{event.title}</f:link.action></li>
			</f:for>
		</ul>
	</div>
</f:section>