{namespace e2=JWeiland\Events2\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">
	<f:security.ifHasRole role="{settings.userGroup}">
		<p class="align-right info-box">
			<f:link.action action="new" pageUid="{settings.pidOfDetailPage}" title="{f:translate(key: 'newEntry')}">
				<span><f:translate key="newEntry"/></span><span aria-hidden="true" class="icon-arrowright"></span>
			</f:link.action>
		</p>
		<p class="align-right info-box">
			<f:link.action action="listMyEvents" title="{f:translate(key: 'listMyEvents')}">
				<span><f:translate key="listMyEvents"/></span><span aria-hidden="true" class="icon-arrowright"></span>
			</f:link.action>
		</p>
	</f:security.ifHasRole>

	<f:render partial="Event/Filter" arguments="{action: 'listRange', organizers: organizers, filter: filter}" />

	<f:if condition="{eventsOnTopOfList}">
		<div class="topOfList">
			<f:render partial="Event/List" arguments="{events: eventsOnTopOfList}" />
		</div>
	</f:if>

	<div class="list scroll-container nopaginator">
		<e2:widget.paginate objects="{events}" as="paginatedEvents" configuration="{itemsPerPage: settings.pageBrowser.itemsPerPage, insertAbove: settings.pageBrowser.insertAbove, insertBelow: settings.pageBrowser.insertBelow, maximumNumberOfLinks: settings.pageBrowser.maximumNumberOfLinks}">
			<f:render partial="Event/List" arguments="{events: paginatedEvents}" />
		</e2:widget.paginate>
	</div>
</f:section>