{namespace e2=JWeiland\Events2\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">
	<f:render partial="Event/UserEditLinks" />
	<f:render partial="Event/Filter" arguments="{action: 'listToday', organizers: organizers, filter: filter}" />

	<f:if condition="{eventsOnTopOfList}">
		<div class="topOfList">
			<f:render partial="Event/List" arguments="{events: eventsOnTopOfList}" />
		</div>
	</f:if>

	<div class="list scroll-container nopaginator">
		<e2:widget.paginate objects="{events}" as="paginatedEvents" configuration="{itemsPerPage: settings.pageBrowser.itemsPerPage, insertAbove: settings.pageBrowser.insertAbove, insertBelow: settings.pageBrowser.insertBelow, maximumNumberOfLinks: settings.pageBrowser.maximumNumberOfLinks}">
			<f:render partial="Event/List" arguments="{events: paginatedEvents}" />
		</e2:widget.paginate>
		<f:if condition="{settings.pidOfListPage}">
			<div class="morelink clearfix">
				<f:link.action pageUid="{settings.pidOfListPage}" action="list" title="{f:translate(key: 'link.listEvents')}"><span><f:translate key="link.listEvents"/></span><span aria-hidden="true" class="icon-arrowright"></span>
				</f:link.action>
			</div>
		</f:if>
	</div>
</f:section>
