{namespace e2=JWeiland\Events2\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">
  <f:security.ifHasRole role="{settings.userGroup}">
    <f:then>
      <f:if condition="{e2:feUser(field: 'tx_events2_organizer')}">
        <f:then>
          <f:flashMessages />
          <f:render partial="FormErrors" arguments="{object:Event}"/>
          <f:form action="create" name="event" object="{event}" enctype="multipart/form-data" class="form-horizontal">
            <legend><f:translate key="newEntry" /></legend>
            <f:render partial="Event/FormFields" arguments="{_all}" />
            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-9">
                <f:form.submit class="btn btn-default" value="{f:translate(key: 'create')}" />
              </div>
            </div>
          </f:form>
        </f:then>
        <f:else>
          <div><f:translate key="missingOrganizerForCreate" /></div>
        </f:else>
      </f:if>
    </f:then>
    <f:else>
      <div><f:translate key="notAllowedToCreate" /></div>
    </f:else>
  </f:security.ifHasRole>
</f:section>
