<ul class="list-group">
	<li class="list-group-item">
		<span class="badge">
			<f:if condition="{pi_flexform_transformed.switchableControllerActions}">
				<f:then>{pi_flexform_transformed.switchableControllerActions}</f:then>
				<f:else>List</f:else>
			</f:if>
		</span>Plugin
	</li>
	<f:if condition="{pi_flexform_transformed.settings.preFilterByOrganizer}">
		<li class="list-group-item {classNameForErrors}">
			<span class="badge">{titleOfOrganizer}</span>Filter by organizer
		</li>
	</f:if>
	<li class="list-group-item {classNameForErrors}">
		<span class="badge">
			<f:if condition="{pi_flexform_transformed.settings.showFilterForOrganizerInFrontend}">
				<f:then>Yes</f:then>
				<f:else>No</f:else>
			</f:if>
		</span>Show Filters in FE
	</li>
</ul>
