<table class="typo3-dblist">
	<tbody>
	<tr class="db_list_normal">
		<td>Plugin</td>
		<td>
			<f:if condition="{pi_flexform_transformed.switchableControllerActions}">
				<f:then>{pi_flexform_transformed.switchableControllerActions}</f:then>
				<f:else>List</f:else>
			</f:if>
		</td>
	</tr>
	<f:if condition="{pi_flexform_transformed.settings.preFilterByOrganizer}">
		<tr class="db_list_normal">
			<td>Filter by organizer</td>
			<td>{titleOfOrganizer}</td>
		</tr>
	</f:if>
	<tr class="db_list_normal">
		<td>Show Filters in FE</td>
		<td>
			<f:if condition="{pi_flexform_transformed.settings.showFilterForOrganizerInFrontend}">
				<f:then>Yes</f:then>
				<f:else>No</f:else>
			</f:if>
		</td>
	</tr>
	<tr class="db_list_normal">
		<td>Merge Events</td>
		<td>
			<f:if condition="{pi_flexform_transformed.settings.mergeEvents}">
				<f:then>Yes</f:then>
				<f:else>No</f:else>
			</f:if>
		</td>
	</tr>
	</tbody>
</table>