<p>&nbsp;</p>

<dl>
	<dt>Plugin</dt>
	<dd>
		<f:if condition="{pi_flexform_transformed.switchableControllerActions}">
			<f:then>{pi_flexform_transformed.switchableControllerActions}</f:then>
			<f:else>List</f:else>
		</f:if>
	</dd>
</dl>

<f:if condition="{pi_flexform_transformed.settings.preFilterByOrganizer}">
	<dl>
		<dt>Filter by organizer</dt>
		<dd>{titleOfOrganizer}</dd>
	</dl>
</f:if>

<dl>
	<dt>Show filters in FE</dt>
	<dd>
		<f:if condition="{pi_flexform_transformed.settings.showFilterForOrganizerInFrontend}">
			<f:then>Yes</f:then>
			<f:else>No</f:else>
		</f:if>
	</dd>
</dl>
