# Adapted from https://github.com/TYPO3GmbH/blog/blob/master/.github/workflows/ci.yml
name: CI

on: [pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        typo3: [^9.5, ^10.4]
        php: ['7.2', '7.3', '7.4']
        os: [ubuntu-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up PHP Version ${{ matrix.php }}
        run: |
          sudo update-alternatives --set php /usr/bin/php${{ matrix.php }}
          php -v
      - name: Validate composer.json and composer.lock
        run: composer validate

      - name: Install dependencies with typo3/cms-core:${{ matrix.typo3 }}
        run: |
          composer require typo3/cms-core:${{ matrix.typo3 }} --no-progress
          composer require typo3/cms-extensionmanager:${{ matrix.typo3 }} --no-progress
          git checkout composer.json

      - name: php-cs-fixer
        run: composer ci:php:fixer

      - name: Lint PHP
        run: composer ci:php:lint

      - name: Unit Tests
        run: |
          composer ci:tests:unit

      - name: Functional Tests
        env:
          typo3DatabaseName: test
          typo3DatabaseUsername: root
          typo3DatabasePassword: root
          typo3DatabaseHost: 127.0.0.1
          COMPOSER_PROCESS_TIMEOUT: 600
        run: |
          sudo systemctl start mysql.service
          composer ci:tests:functional
